<%- include('partials/header') -%>
    <form action="/users/<%= user.id%>" method="POST">
      <input
        type="text"
        name="name"
        placeholder="Name"
        value="<%= user.name %>"
      />
      <input
        type="email"
        name="email"
        placeholder="Email"
        value="<%= user.email %>"
      />
      <input
        type="number"
        name="age"
        placeholder="Age"
        value="<%= user.age %>"
      />
      <input
        type="text"
        name="sports"
        placeholder="Sports ( Separated by comma )"
        value="<%= user.sports %>"
      />
      <input type="submit" value="Update User" />
    </form>
<%- include('partials/footer') -%>
